* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button,
input[type='text'] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.hidden {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

#js-bookmarks li {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.js-bookmark-entry {
  background-color: blue;
}
