* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button,
input[type='text'] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.hidden {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* change from js*/
#js-bookmarks li {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.bookmark-header {
  background-color: blue;
}

img {
  display: none;
}

.error-container {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.error-close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}